services:
    app:
      build:
        context: .
        dockerfile: docker/php/Dockerfile
      container_name: task_api_app
      volumes:
        - .:/var/www
      depends_on:
        - mysql
      networks:
        - task-api

    nginx:
      image: nginx:alpine
      container_name: task_api_nginx
      ports:
        - "8000:80"
      volumes:
        - .:/var/www
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
        - app
      networks:
        - task-api

    mysql:
      image: mysql:8.0
      container_name: task_api_mysql
      environment:
        MYSQL_DATABASE: task_db
        MYSQL_ROOT_PASSWORD: root
      ports:
        - "3306:3306"
      volumes:
        - mysql_data:/var/lib/mysql
      networks:
        - task-api

networks:
    task-api:

volumes:
    mysql_data:
